@import '../../includeMedia.scss';
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1250px,
);
.hero {
  width: 100%;
  .wrapper {
    height: 100%;
    width: 100%;
    padding: 57px 120px 120px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include media('>=phone', '<=tablet') {
      padding: 0px 40px 100px 20px;
    }
    .topContent {
      width: 100%;
      display: flex;
      align-items: center;
      @include media('>=phone', '<=desktop') {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      .left {
        flex: 6;
        margin-right: 100px;
        @include media('>=phone', '<=desktop') {
          margin: 0;
          margin-top: 20px;
        }
        .title {
          font-size: 78px;
          font-weight: 700;
          @include media('>=phone', '<=desktop') {
            font-size: 58px;
          }
        }
        .description {
          margin-top: 60px;
          span {
            font-weight: 700;
          }
        }
        .register {
          margin-top: 60px;
          color: black;
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          background-color: #ffcf55;
          border: 2px solid #000000;
          border-radius: 8px;
          width: 179px;
          height: 49px;
          -webkit-box-shadow: 10px 10px 0px 0px #000000;
          box-shadow: 9px 9px 0px 0px #000000;
          cursor: pointer;
        }
      }
      .right {
        flex: 6;
        .imgWrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          @include media('>=phone', '<=desktop') {
            justify-content: flex-start;
          }
          img {
            max-width: 100%;
            height: auto;
            @include media('>=phone', '<=desktop') {
              max-width: 80%;
              height: auto;
            }
            @include media('>=phone', '<=desktop') {
              max-width: 60%;
              height: auto;
            }
          }
        }
      }
    }
    .bottomContent {
      margin-top: 120px;
      .sponsorsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
