@import "../../includeMedia.scss";
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1250px,
);

.interview {
  background-color: #f0f0f0;
  width: 100%;

  .wrapper {
    width: 100%;
    padding: 115px 125px 125px 125px;
    @include media(">=phone", "<=tablet") {
      padding: 30px 20px 100px 20px;
    }
    .topContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text {
        text-align: center;
        .title {
          font-size: 58px;
          font-weight: 700;
          @include media(">=phone", "<=desktop") {
            font-size: 48px;
          }
        }
        .description {
          margin: auto;
          max-width: 550px;
          margin-top: 15px;
          margin-bottom: 60px;
        }
      }
      .cta-video {
        position: relative;
        width: 100%;
        max-width: 597px;
        height: 336px;
        @include media(">=phone", "<=tablet") {
          max-width: 384px;
          height: 216px;
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .bottomContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        text-align: center;
        .title {
          margin-top: 80px;
          font-size: 58px;
          font-weight: 700;
          @include media(">=phone", "<=desktop") {
            font-size: 48px;
          }
        }
        .description {
          margin-top: 15px;
          margin-bottom: 60px;
        }
      }
      .thumbnail-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media(">=phone", "<=desktop") {
          flex-direction: column;
          > :not(:first-child) {
            margin-top: 30px;
          }
        }
        .thumbnail {
          position: relative;
          display: block;
          width: 100%;
          max-width: 384px;
          height: 216px;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
        }
        > :not(:nth-child(3)) {
          margin-right: 30px;
          @include media(">=phone", "<=desktop") {
            margin-right: 0;
          }
        }
      }
    }
  }
}
