@import '../../includeMedia.scss';
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1250px,
);
.reward {
  background-color: #fcfcfc;

  .wrapper {
    padding: 150px 150px 150px 120px;
    @include media('>=phone', '<=tablet') {
      padding: 30px 40px 100px 20px;
    }
    .rewardCardWrapper {
      position: relative;
      .rewardCard {
        width: 100%;
        background-color: white;
        border-radius: 15px;
        border: 3px solid #000000;
        -webkit-box-shadow: 25px 25px 0px 0px #000000;
        box-shadow: 25px 25px 0px 0px #000000;
        @include media('>=phone', '<=tablet') {
          -webkit-box-shadow: 15px 15px 0px 0px #000000;
          box-shadow: 15px 15px 0px 0px #000000;
        }
        .content {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 40%;
          padding: 75px 0px 100px 80px;
          @include media('>=phone', '<=desktop') {
            padding: 20px;
            width: 55%;
          }
          @include media('>=phone', '<=1050px') {
            margin-top: 300px;
            width: 100%;
          }
          .topContent {
            width: 100%;
            .title {
              font-size: 58px;
              font-weight: 700;
              @include media('>=phone', '<=desktop') {
                font-size: 32px;
              }
            }
            .description {
              font-family: 'Archivo', sans-serif;
              margin-top: 20px;
            }
          }
          .bottomContent {
            margin-top: 115px;
            @include media('>=phone', '<=1050px') {
              margin-top: 40px;
            }
            .additionalInfo {
              display: flex;
              width: 100%;
              .textInfo {
                padding-left: 10px;
                .title {
                  font-weight: 700;
                }
                .description {
                  margin-top: 10px;
                  font-family: 'Archivo', sans-serif;
                }
              }
            }
          }
        }
      }
      .rewardBadgeWrapper {
        position: absolute;
        top: -40px;
        right: 100px;
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        @include media('>=phone', '<=desktop') {
          width: 250px;
          height: 450px;
          top: -30px;
        }
        @include media('>=phone', '<=456px') {
          height: 450px;
          width: 250px;
          right: 50px;
        }

        .badge {
          position: absolute;
          width: 390px;
          height: 490px;
          top: 3px;
          z-index: 4;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
          background-color: #ffcf55;
          background-image: url(/assets/freeUpRewardBadge.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          @include media('>=phone', '<=desktop') {
            width: 240px;
            height: 310px;
          }
        }
        .border {
          position: absolute;
          z-index: 3;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
          background-color: black;
          height: 497px;
          width: 397px;
          @include media('>=phone', '<=desktop') {
            height: 316px;
            width: 246px;
          }
        }
        .triangle {
          position: absolute;
          z-index: 4;
          width: 36px;
          height: 40px;
          clip-path: polygon(0 100%, 100% 100%, 100% 0);
          background-color: black;
          left: -34px;
          @include media('>=phone', '<=desktop') {
            height: 33px;
          }
        }
      }
    }
  }
}
